API_ID=29039349
API_HASH=431412721f8762f652dbc176a79b2e84
BOT_TOKEN=8082195878:AAGuqPzg9CAHAxzjG7KDRQiJ_rFducO492Q
OWNER_ID=7290350162
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002842450420
MUSIC_BOT_NAME=Alexa_gx_bot
STRING_SESSION=BQG7GvUAB3bnmNH_oqJpC99Z38XRlgUlMhXC2eiKszvAAudZy8b885x_B9VebSUPOx8kjTheAiBrCk67GAVb1xMrwmU-mg3VvfVKldm4Av1BsKq3ggZJqa5te4CQaHopTw0vWfcqrDMknG8XHCp_BksEvRPtJ0TSOuU00M-NFl7xwJate3Drpex0NgNEW-qwK6L4Nzbq9Xxei321bxEF48ioVaP1DouVAhpBMSMxXJVFYBOxhwj4nxv8HN27DkEnG4PtGeGHDVCIArbr2zWFV4L5j6adkli7rThEt93lyXwOEG6ScCqbOJ6zPCgqkaYIu45EHSlRcRO_IS6doNy4lDyxs6dEowAAAAGqtvEXAA
COOKIES=https://batbin.me/pitchy