# Telegram API credentials
API_ID=33984428
API_HASH=9ed45ce2cfa2dcf20895d8949a56ecbb

# Telegram Bot Token (get from BotFather)
BOT_TOKEN=

# Bot owner details
OWNER_ID=7852340648
LOG_GROUP_ID=-1003468243393
MUSIC_BOT_NAME=ROSHNI X MUSIC 

# MongoDB (Atlas URI with database name included)
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/theteamalexa?retryWrites=true&w=majority&appName=Cluster0

# Pyrogram string session (if needed)
STRING_SESSION=

# Cookie URL (if required for your bot)
COOKIES=https://batbin.me/bigotedness
